@import url("../Normalize.css");
.aboutContainer {
  --about-min-height: 580px;
  position: relative;
  width: 100%;
  min-height: var(--about-min-height);
  background-image: linear-gradient(
    to bottom,
    #d5abab,
    #bf98ae,
    #998bb1,
    #6283aa,
    #1a7991
  );
  display: flex;
  justify-content: center;
  align-items: center;
}
#cardNameAll {
  display: none !important;
}
.aboutContent {
  border: 2px solid res;
  width: 65%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.aboutHeader {
  font-family: "Advent Pro", sans-serif;
  color: #46524d;
  text-align: right;
  margin-bottom: 30px;
  width: 400px;
  text-align: right;
}
.aboutTextContainer {
  width: 400px;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.aboutMeDescription {
  width: 400px;
  font-family: "Baloo 2", cursive;
  color: #050917;
  width: 400px;
  line-height: 18px;
}
.btnCv {
  width: 80%;
}
.imgMe {
  height: 100%;
}
.imgMe img {
  width: 300px; 
}
@media (max-width: 1265px) {
  .aboutContainer {
    --about-min-height: clamp(
      510px,
      calc(510px + (500 - 510) * ((100vw - 360px) / (767 - 360))),
      500px
    );
  }
  .aboutContent {
    width: 60%;
  }
  .imgMe img {
    width: 250px;
  }
}
@media (max-width: 767px) {
  .aboutContainer {
    --about-min-height: clamp(
      510px,
      calc(510px + (550 - 510) * ((100vw - 360px) / (767 - 360))),
      550px
    );
  }
  #cardNameAll {
    margin-top: clamp(
      200px,
      calc(200px + (70 - 200) * ((100vw - 360px) / (767 - 360))),
      70px
    );
    width: 100% !important;
    display: block !important;
  }
  .infName {
    justify-content: center;
  }
  .aboutContainer {
    flex-direction: column;
  }
  .aboutContent {
    width: 90% !important;
    flex-direction: column-reverse;
  }
  .aboutHeader {
    text-align: center;
    font-size: 2rem !important;
  }
  .aboutMeDescription {
    text-align: center;
    font-size: 0.8rem;
  }
  .imgMe {
    width: 300px;
    margin: 100px 0 20px 0;
  }
  .imgMe img {
    width: 100%;
  }
}
@media (max-width: 420px) {
  .aboutMeDescription {
    width: 280px;
  }
}
