.contactContainer {
  --cover-min-height: 600px;
  position: relative;
  width: 100%;
  min-height: var(--cover-min-height);
  background: rgb(32,37,111);
  background: linear-gradient(0deg, rgba(32,37,111,1) 0%, rgba(152,97,255,1) 100%);
  /* border: 2px solid rgb(255, 94, 0); */
}
.stars{
  width: 100%;
  height: 100%;
  background-image: url("../../images/galaxy.png");
  background-repeat: no-repeat;
  background-size: 50% 60%;
  background-position: right bottom;
  min-height: var(--cover-min-height);
}
.contactImage {
  width: 100%;
  min-height: var(--cover-min-height);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-image: url("../../images/astro2.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: right bottom;
  /* border: 2px solid rgb(145, 255, 0); */
}
.containerF {
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  /* border: 2px solid rgb(0, 119, 255); */
}
.textContact {
  width: 100%;
  display: flex;
  justify-content: start;
  /* border: 2px solid red; */
}
.contactHeader {
  font-family: "Advent Pro", sans-serif;
  color: #46524d;
  margin-bottom: 20px;
  /* border: 2px solid red; */
}

.formCont {
  width: 480px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid rgb(63, 56, 51); */
  display: flex;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.textForm {
  /* border: 2px solid rgb(154, 74, 16); */
  width: 100%;
  margin-bottom: 30px;
  text-align: left;
}

.inputForm {
  background-color: transparent;
  border-radius: 0;
  border: transparent;
  border-bottom: 2px solid #9a9a9a;
  font-family: "Baloo 2", cursive;
  padding: 0;
  width: 400px;
  margin-bottom: 30px;
  box-shadow: 0 !important;
}
.inputForm:focus {
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: 0 !important;
}
.inputLabel {
  font-family: "Baloo 2", cursive;
  font-size: 16px;
  color: #46524d;
}
.send {
  margin-top: 1rem;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.send img {
  width: 30px;
  margin-top: 5px;
}
.sendMe {
  text-decoration: none;
  color: #deb0b3;
  padding: 0;
  margin-right: 5px;
}
.containerF {
  display: flex;
}
.span {
  width: 1px;
  height: 250px;
  color: #737373;
  background-color: #737373;
  margin: 0 20px 0 40px;
  border: #737373;
  display: block;
}
.socialMedia {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.socialMedia a {
  width: 40px;
  height: 40px;
  text-decoration: none;
  margin-bottom: 1.5rem;
}
.socialMedia a:nth-of-type(1) {
  background-image: url("../../images/icons/whatsapp.png");
  background-size: cover;
}
.socialMedia a:nth-of-type(2) {
  background-image: url("../../images/icons/linkedin.png");
  background-size: cover;
}
.socialMedia a:nth-of-type(3) {
  background-image: url("../../images/icons/gorjeo.png");
  background-size: cover;
}
@media (max-width: 990px) {
  .containerF {
    margin-left: 0%;
  }
}
@media (max-width: 800px) {
  .contactImage {
    align-items: center;
    justify-content: center;
    background-size: 50%;
    background-position:90% bottom;
  }
  .formCont {
    width: 400px;
    padding: 20px;
  }
  .containerF {
    margin-left: -30%;
  
  }
}
@media (max-width: 528px) {
  .stars{
    background-size: 90% 50%;
    background-position: right 120%;
  }
  .contactImage {
    align-items: center;
    justify-content: center;
    background-size: 70%;
    background-position:90% bottom;
  }
  .formCont {
    background: transparent;
    box-shadow: none;
    backdrop-filter: blur(00px);
    width: 350px;
    padding: 15px;
  }
  .containerF {
    margin-left: 0%;
    margin-bottom: 20%;
  }
  .textContact {
    justify-content: center;
  }
  .inputForm {
    width: 320px;
  }
}
